<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.user.HbbStudentMapper" >
  <resultMap id="BaseResultMap" type="main.java.com.zjwm.wyx.user.entity.HbbStudent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="snum" property="snum" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="weixin" property="weixin" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="stu_address" property="stuAddress" jdbcType="VARCHAR" />
    <result column="sch_name" property="schName" jdbcType="VARCHAR" />
    <result column="sch_sheng" property="schSheng" jdbcType="VARCHAR" />
    <result column="sch_shi" property="schShi" jdbcType="VARCHAR" />
    <result column="sch_qu" property="schQu" jdbcType="VARCHAR" />
    <result column="sch_address" property="schAddress" jdbcType="VARCHAR" />
    <result column="fanwei" property="fanwei" jdbcType="VARCHAR" />
    <result column="cengci" property="cengci" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, name, sex, snum, qq, weixin, phone, stu_address, sch_name, sch_sheng, 
    sch_shi, sch_qu, sch_address, fanwei, cengci, grade, major, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="main.java.com.zjwm.wyx.user.entity.HbbStudentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hbb_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hbb_student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hbb_student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="main.java.com.zjwm.wyx.user.entity.HbbStudentExample" >
    delete from hbb_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="main.java.com.zjwm.wyx.user.entity.HbbStudent" >
    insert into hbb_student (id, user_id, name, 
      sex, snum, qq, weixin, 
      phone, stu_address, sch_name, 
      sch_sheng, sch_shi, sch_qu, 
      sch_address, fanwei, cengci, 
      grade, major, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{snum,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{weixin,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{stuAddress,jdbcType=VARCHAR}, #{schName,jdbcType=VARCHAR}, 
      #{schSheng,jdbcType=VARCHAR}, #{schShi,jdbcType=VARCHAR}, #{schQu,jdbcType=VARCHAR}, 
      #{schAddress,jdbcType=VARCHAR}, #{fanwei,jdbcType=VARCHAR}, #{cengci,jdbcType=VARCHAR}, 
      #{grade,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="main.java.com.zjwm.wyx.user.entity.HbbStudent" >
    insert into hbb_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="snum != null" >
        snum,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="weixin != null" >
        weixin,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="stuAddress != null" >
        stu_address,
      </if>
      <if test="schName != null" >
        sch_name,
      </if>
      <if test="schSheng != null" >
        sch_sheng,
      </if>
      <if test="schShi != null" >
        sch_shi,
      </if>
      <if test="schQu != null" >
        sch_qu,
      </if>
      <if test="schAddress != null" >
        sch_address,
      </if>
      <if test="fanwei != null" >
        fanwei,
      </if>
      <if test="cengci != null" >
        cengci,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="snum != null" >
        #{snum,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null" >
        #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="stuAddress != null" >
        #{stuAddress,jdbcType=VARCHAR},
      </if>
      <if test="schName != null" >
        #{schName,jdbcType=VARCHAR},
      </if>
      <if test="schSheng != null" >
        #{schSheng,jdbcType=VARCHAR},
      </if>
      <if test="schShi != null" >
        #{schShi,jdbcType=VARCHAR},
      </if>
      <if test="schQu != null" >
        #{schQu,jdbcType=VARCHAR},
      </if>
      <if test="schAddress != null" >
        #{schAddress,jdbcType=VARCHAR},
      </if>
      <if test="fanwei != null" >
        #{fanwei,jdbcType=VARCHAR},
      </if>
      <if test="cengci != null" >
        #{cengci,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="main.java.com.zjwm.wyx.user.entity.HbbStudentExample" resultType="java.lang.Integer" >
    select count(*) from hbb_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hbb_student
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.snum != null" >
        snum = #{record.snum,jdbcType=VARCHAR},
      </if>
      <if test="record.qq != null" >
        qq = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.weixin != null" >
        weixin = #{record.weixin,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.stuAddress != null" >
        stu_address = #{record.stuAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.schName != null" >
        sch_name = #{record.schName,jdbcType=VARCHAR},
      </if>
      <if test="record.schSheng != null" >
        sch_sheng = #{record.schSheng,jdbcType=VARCHAR},
      </if>
      <if test="record.schShi != null" >
        sch_shi = #{record.schShi,jdbcType=VARCHAR},
      </if>
      <if test="record.schQu != null" >
        sch_qu = #{record.schQu,jdbcType=VARCHAR},
      </if>
      <if test="record.schAddress != null" >
        sch_address = #{record.schAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.fanwei != null" >
        fanwei = #{record.fanwei,jdbcType=VARCHAR},
      </if>
      <if test="record.cengci != null" >
        cengci = #{record.cengci,jdbcType=VARCHAR},
      </if>
      <if test="record.grade != null" >
        grade = #{record.grade,jdbcType=VARCHAR},
      </if>
      <if test="record.major != null" >
        major = #{record.major,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hbb_student
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=INTEGER},
      snum = #{record.snum,jdbcType=VARCHAR},
      qq = #{record.qq,jdbcType=VARCHAR},
      weixin = #{record.weixin,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      stu_address = #{record.stuAddress,jdbcType=VARCHAR},
      sch_name = #{record.schName,jdbcType=VARCHAR},
      sch_sheng = #{record.schSheng,jdbcType=VARCHAR},
      sch_shi = #{record.schShi,jdbcType=VARCHAR},
      sch_qu = #{record.schQu,jdbcType=VARCHAR},
      sch_address = #{record.schAddress,jdbcType=VARCHAR},
      fanwei = #{record.fanwei,jdbcType=VARCHAR},
      cengci = #{record.cengci,jdbcType=VARCHAR},
      grade = #{record.grade,jdbcType=VARCHAR},
      major = #{record.major,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="main.java.com.zjwm.wyx.user.entity.HbbStudent" >
    update hbb_student
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="snum != null" >
        snum = #{snum,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null" >
        weixin = #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="stuAddress != null" >
        stu_address = #{stuAddress,jdbcType=VARCHAR},
      </if>
      <if test="schName != null" >
        sch_name = #{schName,jdbcType=VARCHAR},
      </if>
      <if test="schSheng != null" >
        sch_sheng = #{schSheng,jdbcType=VARCHAR},
      </if>
      <if test="schShi != null" >
        sch_shi = #{schShi,jdbcType=VARCHAR},
      </if>
      <if test="schQu != null" >
        sch_qu = #{schQu,jdbcType=VARCHAR},
      </if>
      <if test="schAddress != null" >
        sch_address = #{schAddress,jdbcType=VARCHAR},
      </if>
      <if test="fanwei != null" >
        fanwei = #{fanwei,jdbcType=VARCHAR},
      </if>
      <if test="cengci != null" >
        cengci = #{cengci,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="main.java.com.zjwm.wyx.user.entity.HbbStudent" >
    update hbb_student
    set user_id = #{userId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      snum = #{snum,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      weixin = #{weixin,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      stu_address = #{stuAddress,jdbcType=VARCHAR},
      sch_name = #{schName,jdbcType=VARCHAR},
      sch_sheng = #{schSheng,jdbcType=VARCHAR},
      sch_shi = #{schShi,jdbcType=VARCHAR},
      sch_qu = #{schQu,jdbcType=VARCHAR},
      sch_address = #{schAddress,jdbcType=VARCHAR},
      fanwei = #{fanwei,jdbcType=VARCHAR},
      cengci = #{cengci,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>